body {
    background-color:#f1f0cf;
}

header {
    text-align: center;
    background-color: #b6e6bd ;
    padding: 20px 0;
    width: 75%;
    margin: auto;
}

div {
    margin: auto;
    text-align: center;
    background-color: #4baea0;
    width: 75%;
    height: 75vh;
}

p {
    padding: 10px 0;
}

h2 {
    padding-top: 20px;
}